{% for message in app.flashes('error') %}
	<div class="alert alert-danger">
		{{ message }}
	</div>
{% endfor %}
{% for message in app.flashes('success') %}
	<div class="alert alert-success">
		{{ message }}
	</div>
{% endfor %}
{{ form_start(form, { 'attr': { 'enctype': 'multipart/form-data' } }) }}
{{ form_row(form.title) }}
{{ form_row(form.content) }}
{{ form_row(form.files)}}
{% set value_form =  form.vars.value %}
{{ form_row(form.primary_image, { 'attr': { 'id': 'primary-image' } })}}

{{ form_row(form.links, { 'attr': { 'class': 'form-control' } }) }}
<div class="parent-links"></div>
<button class="btn btn-light add-links">Ajouter un lien</button>
<div id="image-preview-existing">
	{% if trick %}
		<p>image mise en avant :
			{% if trick.files is not empty %}
				{% for file in trick.files %}
					{% if first_file_defined is not null and loop.index == 1 %}

					</p>
					<div class="preview">
						<div class="img-wrap">
							<span class="close-file">&times;</span>
							<img class="first-file-img" src={{asset("files/tricks/"~ trick.id ~ "/" ~ first_file) }} alt="test" data-filename="{{ first_file }}">
							<label for="first-file">Définir comme première image</label>
							<input type="radio" name="first-file" class="radio-file" checked>
						</div>
					</div>
				{% endif %}
				<div class="preview">
					<div class="img-wrap">
						<span class="close-file">&times;</span>
						<img class="file-upload" src="{{asset('files/tricks/' ~ trick.id ~ '/' ~ file )}}" alt="Image de trick" data-filename="{{ file }}">
						<label for="first-file">Définir comme première image</label>
						<input type="radio" name="first-file" class="radio-file">
					</div>
				</div>
			{% endfor %}
		{% else %}
			{% if first_file_defined is not null %}
				
				<div class="preview">
					<div class="img-wrap">
						<span class="close-file">&times;</span>
						<img class="first-file-img" src={{asset("files/tricks/"~ trick.id ~ "/" ~ first_file) }} alt="test" data-filename="{{ first_file }}">
						<label for="first-file">Définir comme première image</label>
						<input type="radio" name="first-file" class="radio-file" checked>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
</div>

<div id="image-preview"></div>
<input class="btn btn-light" id="submit-form-trick" type="submit" name="save" class="btn" value="{{ button_label|default('Enregistrer')}}">
{{ form_rest(form) }}
{{ form_end(form) }}
