<div class="container">
	<div class="row">
		<div class="show-trick-parent col-12">
			<h1>{{trick.title}}</h1>
			{% if first_file_defined != false or trick.getFirstFile() is not empty  %}
				<div class="first-file">
					<img src="{{asset('files/tricks/' ~ trick.id ~ '/' ~ first_file )}}" alt="Image du trick">
				</div>
			{% endif %}
			<div class="row">
				{% for file in trick.files %}
					{% if loop.index == 1 and (first_file_defined is null or first_file_defined == false) and (trick.getFirstFile() is empty) %}
						{# Premier fichier utilisé comme image principale seulement si aucune image principale n'est définie #}
						<div class="first-file">
							<img src="{{asset('files/tricks/' ~ trick.id ~ '/' ~ file )}}" alt="Image du trick">
						</div>
					{% else %}
						{# Tous les autres fichiers s'affichent normalement #}
						<div class="file-other  col-sm-6 col-md-4 col-lg-3 mt-3">
							<img src="{{asset('files/tricks/' ~ trick.id ~ '/' ~ file )}}" alt="Image du trick">
						</div>
					{% endif %}
				{% endfor %}

				{% if trick.links %}
					{% for link in trick.links %}
						<div class="video-container col-sm-6 col-md-4 col-lg-3 mt-3">
							{% if 'youtube.com' in link %}
								<iframe src="{{ link | replace({'watch?v=': 'embed/'}) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="content-trick">
				<p class="content">
					{{ trick.content }}
				</p>
			</div>

			<div class="date-parent">
				{% if date_modify is null %}
					<p class="date">Crée le :
						{{date_create|date("d/m/Y")}}</p>
				{% else %}
					<p class="date">Modifier le :
						{{date_modify|date("d/m/Y")}}</p>

				{% endif %}
			</div>
		</div>
	</div>
</div>
<a class="btn btn-light" href="{{ path('app_trick_index') }}">Retour à la liste</a>
{% if app.user.id is defined %}
	{% if is_granted("ROLE_ADMIN") or trick.getUser().getId() == app.user.id %}
		<a class="btn btn-light edit-trick" href="{{ path('app_ajax_trick_edit', {'id': trick.id}) }}">
			<i class="fas fa-pencil"></i>
		</a>
		<a class="btn btn-light delete-pop-up" href="{{ path('app_ajax_trick_delete', {'id': trick.id}) }}">
			<i class="fas fa-trash-can"></i>
		</a>
	{% endif %}
{% endif %}
