<div class="container">
	<div class="row">
		<div class="show-trick-parent col-12">
			<h1>{{trick.title}}</h1>
			{% if first_file_defined != false %}
				<div class="first-file">
					test
					<img src="{{asset('files/tricks/' ~ trick.id ~ '/' ~ first_file )}}" alt="Image du trick">
				</div>
			{% endif %}
			{% for file in trick.files %}
				{% if loop.index == 1 and first_file_defined is null %}
					<div class="first-file">
						<img src="{{asset('files/tricks/' ~ trick.id ~ '/' ~ file )}}" alt="Image du trick">
					</div>
				{% endif %}
			{% endfor %}
			<div class="file-other">
				{% for file in trick.files %}
					{% if loop.index > 1 or first_file_defined is not null  %}
						<img src="{{asset('files/tricks/' ~ trick.id ~ '/' ~ file )}}" alt="Image du trick">
					{% endif %}
				{% endfor %}
			</div>

			{% if trick.links %}
				{% for link in trick.links %}
					<div class="video-container">
						{% if 'youtube.com' in link %}
							<iframe width="560" height="315" src="{{ link | replace({'watch?v=': 'embed/'}) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						{% endif %}
					</div>
				{% endfor %}
			{% endif %}
			<div class="content-trick">
				<p class="content">
					{{ trick.content }}
				</p>
			</div>

			<div class="date-parent">
				{% if date_modify is null %}
					<p class="date">Crée le :
						{{date_create|date("d/m/Y")}}</p>
				{% else %}
					<p class="date">Modifier le :
						{{date_modify|date("d/m/Y")}}</p>

				{% endif %}
			</div>
		</div>
	</div>
</div>
<a class="btn btn-light" href="{{ path('app_trick_index') }}">Retour à la liste</a>
{% if is_granted("ROLE_ADMIN") or trick.getUser().getId() == app.user.id %}
	<a class="btn btn-light edit-trick" href="{{ path('app_ajax_trick_edit', {'id': trick.id}) }}">
		<i class="fas fa-pencil"></i>
	</a>
	<a class="btn btn-light delete-pop-up" href="{{ path('app_ajax_trick_delete', {'id': trick.id}) }}">
		<i class="fas fa-trash-can"></i>
	</a>
{% endif %}
