<div class="container">
	<div class="row">

		{% for trick in tricks %}

			<div class="col-4 mt-3">
				<a href="{{path("app_trick_show" , { "id" : trick.id} )}}">
					<div class="trick-resume">
						<img class="picture-multiple-trick" src="{{asset('files/defaults/no-picture.jpg')}}" alt="no picture">
						<p class="title">{{trick.title}}</p>
						{% if is_granted("IS_AUTHENTICATED") %}
							<div class="link-change-trick">
								<a class="btn btn-light edit-trick" href="{{ path('app_ajax_trick_edit', {'id': trick.id}) }}">
									<i class="fas fa-pencil"></i>
								</a>
								<a class="btn btn-light delete-pop-up" href="{{ path('app_ajax_trick_delete', {'id': trick.id}) }}">
									<i class="fas fa-trash-can"></i>
								</a>
							</div>
						{% endif %}
					</div>

				</a>
			</div>
		{% endfor %}

	</div>
</div>
